SUPABASE_URL=https://zlbmpeiuhyllxwegtayu.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
ODDS_API_KEY=your_odds_api_key_here
BETFAIR_APP_KEY=X3qbqHfwTimJRyC4
BETFAIR_USERNAME=your_betfair_email_here
BETFAIR_PASSWORD=your_betfair_password_here
